@using DataAccessLayer
@model List<Note>
<div>
    <h1>Главная страница </h1>
</div>
<form method="post" asp-controller="Home" asp-action="Search">
    <label>Поиск</label>
    <input type="text" name="searchText" id="searchText" /> <br /><br />
    <input type="submit" value="Искать" />
</form>
<form method="post" asp-controller="Home" asp-action="GetExcel">
    <label>Поиск</label>
    <input type="file"  name="@Model" id="@Model" /> <br /><br />
    <input type="submit" value="Искать" />
</form>
<table class="table">
    <thead>
        <tr><th>IconId</th><th>Название заметки</th><th>Краткое описание</th><th>Дата добавления </th></tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            if (note.UserId == User.FindFirst("Id").Value)
            {
                <tr>
                    <td><img width="50" height="50" src="data:image/svg+xml;base64,@note.Base64Icon" /></td>
                    <td>@note.NoteName</td>
                    <td>@note.HeaderNote</td>
                    <td>@note.DateNote</td>
                    <td>
                        <form method="post" asp-action="Update">
                            <input type="hidden" value="@note.NoteId" name="idNote" />
                            <input type="submit" value="Просмотр" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="Delete">
                            <input type="hidden" value="@note.NoteId" name="idNote" />
                            <input type="submit" value="Удалить" />
                        </form>
                    </td>
                </tr>}
        }
    </tbody>
</table>